D/1.yml
app:
  description: ''
  icon: 📑
  icon_background: '#EFF1F5'
  mode: advanced-chat
  name: 'Knowledge Retreival + Chatbot '
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.0.19@6b2b2e115b1b9d34a63eb26fadcc33d74330fd2ec06071bb30b8a24b1fab107a
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: true
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1745246798936-2-1745246341583-target
      selected: false
      source: '1745246798936'
      sourceHandle: '2'
      target: '1745246341583'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1745246798936-1745246803445-1745254640614-target
      selected: false
      source: '1745246798936'
      sourceHandle: '1745246803445'
      target: '1745254640614'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1745246798936-1-17452479923020-target
      selected: false
      source: '1745246798936'
      sourceHandle: '1'
      target: '17452479923020'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1745203997917-1-1711528915811-target
      selected: false
      source: '1745203997917'
      sourceHandle: '1'
      target: '1711528915811'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17452040442320-source-17453665584890-target
      selected: false
      source: '17452040442320'
      sourceHandle: source
      target: '17453665584890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1745203997917-1745369593483-17453695497670-target
      selected: false
      source: '1745203997917'
      sourceHandle: '1745369593483'
      target: '17453695497670'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: question-classifier
      id: 1745245959056-source-1745246798936-target
      selected: false
      source: '1745245959056'
      sourceHandle: source
      target: '1745246798936'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: template-transform
      id: 1745464519515-source-1745466321408-target
      selected: false
      source: '1745464519515'
      sourceHandle: source
      target: '1745466321408'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1745466321408-source-1745465671762-target
      selected: false
      source: '1745466321408'
      sourceHandle: source
      target: '1745465671762'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: template-transform
      id: 1745463575728-source-1745466321408-target
      selected: false
      source: '1745463575728'
      sourceHandle: source
      target: '1745466321408'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1711528915811-source-1745465671762-target
      selected: false
      source: '1711528915811'
      sourceHandle: source
      target: '1745465671762'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1745203997917-1745369079073-17453691446670-target
      selected: false
      source: '1745203997917'
      sourceHandle: '1745369079073'
      target: '17453691446670'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17453691446670-source-1745465671762-target
      selected: false
      source: '17453691446670'
      sourceHandle: source
      target: '1745465671762'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17453695497670-source-1745465671762-target
      selected: false
      source: '17453695497670'
      sourceHandle: source
      target: '1745465671762'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: agent
      id: 1745254640614-source-1745464519515-target
      selected: false
      source: '1745254640614'
      sourceHandle: source
      target: '1745464519515'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: question-classifier
      id: 1745254640614-source-1745203997917-target
      selected: false
      source: '1745254640614'
      sourceHandle: source
      target: '1745203997917'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1745254640614-source-1745463575728-target
      selected: false
      source: '1745254640614'
      sourceHandle: source
      target: '1745463575728'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1745465671762-source-17452040442320-target
      selected: false
      source: '1745465671762'
      sourceHandle: source
      target: '17452040442320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1745203997917-1-17454949957150-target
      selected: false
      source: '1745203997917'
      sourceHandle: '1'
      target: '17454949957150'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17454949957150-source-1745465671762-target
      selected: false
      source: '17454949957150'
      sourceHandle: source
      target: '1745465671762'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1711528914102-source-1745245959056-target
      selected: false
      source: '1711528914102'
      sourceHandle: source
      target: '1745245959056'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: template-transform
      id: 1711528914102-source-1745522986136-target
      source: '1711528914102'
      sourceHandle: source
      target: '1745522986136'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1745522986136-source-1745465671762-target
      source: '1745522986136'
      sourceHandle: source
      target: '1745465671762'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1711528914102'
      position:
        x: 172.56790298353644
        y: 652.3196088765625
      positionAbsolute:
        x: 172.56790298353644
        y: 652.3196088765625
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - wc0UDkD8YmOM8h1fbFTgocmu5GE/Il0snfCtkekO/stDlc6B9YbS4UlhmESNSEXc
        desc: Allows you to query text content related to user questions from the
          Knowledge
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Retrieval King Abdullah Staduim
        type: knowledge-retrieval
      dragging: false
      height: 152
      id: '1711528915811'
      position:
        x: 1937.997860451695
        y: 400.15149384120866
      positionAbsolute:
        x: 1937.997860451695
        y: 400.15149384120866
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: 'Provide information on in-stadium navigation, including:


            * Location of amenities such as food, restrooms, entrances

            * Directions to seats, stands, and concourses

            * Information on stadium layout and maps (for guidance only)


            Trigger phrases: e.g. "Where can I find the restrooms?" or "How do I get 

            to my seat?"'
        - id: '1745369079073'
          name: 'Provide information on general questions for example  travel and
            cultural aspects related to 

            attending football matches in Saudi Arabia.


            Trigger phrases: e.g. "What visas do I need for Al Hilal?" or "How can
            I get to the airport for a match?"'
        - id: '1745369593483'
          name: 'Provide information on Saudi football clubs, including squad details, 

            coaches, history, achievements, and location.'
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1711528914102'
        - sys.query
        selected: false
        title: Question Classifier
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 482
      id: '1745203997917'
      position:
        x: 1544.2746994338345
        y: 724.2254630718141
      positionAbsolute:
        x: 1544.2746994338345
        y: 724.2254630718141
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1745466321408'
          - output
        desc: Invoking large language models to answer questions or process natural
          language
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: a4c2e631-b48a-4a5e-9a57-06013656ce1d
          role: system
          text: "<instructions>\nYou are a knowledgeable and reliable assistant that\
            \ provides accurate, easy-to-understand answers about a stadium's internal\
            \ layout, facilities, and navigation. Your goal is to help users efficiently\
            \ find what they need inside the stadium, based strictly on the context\
            \ provided.\n\n<context>\n{{#context#}}\n</context>\nPlease answer in\
            \ the same language as the user’s equation. {{#1745522986136.output#}}\n\
            \n\U0001F9ED Task Steps:\n1. Carefully read and understand the user’s\
            \ question. They may ask about:\n   - Locations of specific facilities\
            \ (e.g., bathrooms, food courts, media center)\n   - Directions within\
            \ the stadium (e.g., to their section, to the nearest entrance)\n   -\
            \ Operational areas (e.g., volunteer center, broadcast compound)\n   -\
            \ Accessibility features (e.g., accessible toilets, parking)\n\n2. Search\
            \ the provided context for any directly relevant information.\n   - DO\
            \ NOT guess or invent locations, facility names, or directions.\n   -\
            \ DO NOT refer to gates, floors, or services not explicitly mentioned\
            \ in the context.\n   - If the information is not in the context, politely\
            \ say so.\n\n3. Provide a clear and concise answer using the stadium’s\
            \ directional references (e.g., eastern side, near the northeast corner).\n\
            \   - Be factual and grounded in the context.\n   - Use bullet points\
            \ or structured steps if giving directions.\n   - Keep the response brief,\
            \ accurate, and helpful.\n\n4. Maintain a polite, professional, and helpful\
            \ tone.\n   - Do not speculate.\n   - Never include or refer to XML tags\
            \ in your output.\n\n</instructions>\n\n<examples>\nUser: Where should\
            \ media personnel go upon arriving at the stadium?\nAI: Media personnel\
            \ should go to the Stadium Media Center located on the eastern side, near\
            \ the northeast corner. Media parking is also on the eastern side, close\
            \ to the Media Center.\n\nUser: Where can I find accessible parking and\
            \ bathrooms?\nAI: There are 151 accessible parking spaces available near\
            \ entrances on the north, east, south, and west sides of the stadium.\
            \ Additionally, 28 accessible toilets are distributed across these sides,\
            \ located near entrances and accessible seating areas.\n\nUser: Where\
            \ is the Volunteer Center located?\nAI: The Volunteer Center is on the\
            \ southwestern side of the stadium, near the Commercial Affiliate Village.\n\
            \nUser: What is the stadium's nickname and what inspired it?\nAI: The\
            \ stadium is nicknamed \"The Shining Jewel,\" inspired by its distinctive\
            \ geometric architecture.\n\nUser: How do I get to section B3?\nAI: I'm\
            \ sorry, but the specific location of section B3 is not provided in the\
            \ current context. Please check with stadium staff upon arrival.\n\n</examples>\n"
        selected: false
        title: LLM (1)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 150
      id: '17452040442320'
      position:
        x: 2687.232063245495
        y: 588.2414851148011
      positionAbsolute:
        x: 2687.232063245495
        y: 588.2414851148011
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: 178cbe42-49e3-43e0-bf6f-8e92176b5e31
          role: system
          text: "```xml\n<instructions>\n<context>\n{{#context#}}\n</context>\n\n\
            <instructions>\nYou will receive a user message in any language.\n\n1.\
            \ Detect the language.\n2. If the message is already in English, return\
            \ it as-is.\n3. If it's not in English, translate it to English while\
            \ keeping the meaning intact.\n4. Return only the final English sentence.\
            \ Do not include any metadata, explanation, language info, or formatting.\n\
            \nExamples:\n\nInput: ¿Cuál es el próximo partido?  \nOutput: What is\
            \ the next match?\n\nInput: ما هي المباراة القادمة؟  \nOutput: What is\
            \ the next match?\n\nInput: Quel est le prochain match ?  \nOutput: What\
            \ is the next match?\n\nInput: What is the next match?  \nOutput: What\
            \ is the next match?\n\nInput: Dis-moi une blague  \nOutput: Tell me a\
            \ joke\n\nInput: قل لي نكتة  \nOutput: Tell me a joke\n</instructions>\n\
            ```xml"
        - id: 1b14ed91-25b0-4398-ac87-64c120247253
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM 8
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1745245959056'
      position:
        x: 481.36945394605925
        y: 652.3196088765625
      positionAbsolute:
        x: 481.36945394605925
        y: 652.3196088765625
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: Sorry, I didn’t quite understand your question. Could you please provide
          more details or rephrase it?
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 134
      id: '1745246341583'
      position:
        x: 1164.3728874460219
        y: 652.3196088765625
      positionAbsolute:
        x: 1164.3728874460219
        y: 652.3196088765625
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: '{{#1745245959056.text#}}The question contains ANY reference to sports,
            events, locations, facilities, schedules, teams, players, seating, navigation,
            amenities, tickets, gates, entrances, exits, restrooms, food, parking,
            or general inquiries about a venue or match.'
        - id: '2'
          name: "{{#1745245959056.text#}}Classify user questions carefully.\n  Only\
            \ mark as \"unclear\" if:\n  - The question is completely unintelligible\n\
            \  - Contains only 1-2 words without clear meaning\n  - Has conflicting\
            \ requests in the same question\n  - Is severely grammatically broken\
            \ making intent impossible to determine\n  \n  When in doubt between \"\
            unclear\" and \"stadium-related,\" prefer classifying as stadium-related."
        - id: '1745246803445'
          name: '{{#1745245959056.text#}}The question mentions or is directly related
            to ANY of the following: stadium facilities, stadium locations, match
            schedules, team information, player details, ticket information, seating
            arrangements, game rules, stadium services, navigation within venue, entrance/exit
            locations, food/beverage options, parking, accessibility features, or
            any specific inquiry that would be addressed by stadium staff or match
            officials.'
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1745245959056'
        - text
        selected: false
        title: Question Classifier 2
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 682
      id: '1745246798936'
      position:
        x: 788.0197163557796
        y: 543.7054938530888
      positionAbsolute:
        x: 788.0197163557796
        y: 543.7054938530888
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: It looks like your question isn’t related to the match or the stadium.
          I’m here to help with anything related to the event—feel free to ask about
          tickets, schedules, teams, or stadium details!
        desc: ''
        selected: false
        title: Answer 2 (1)
        type: answer
        variables: []
      height: 182
      id: '17452479923020'
      position:
        x: 1164.3728874460219
        y: 808.4718662592594
      positionAbsolute:
        x: 1164.3728874460219
        y: 808.4718662592594
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1745245959056'
          - text
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: df267ad8-ab17-4393-af42-d34e5a7c2a5f
          role: system
          text: '```xml

            <instruction>

            Your task is to rephrase and format the user''s question to make it clearer
            and easier to understand, while preserving its original intent. This is
            especially important for stadium-related questions, where users may ask
            for directions or locations of specific facilities.


            Follow these steps:


            1. Read the user''s question carefully.

            2. Identify the key information the user is seeking (e.g., location, directions,
            facility names).

            3. Rephrase the question in a clear, concise, and grammatically correct
            way.

            4. Simplify any informal or ambiguous language without changing the meaning.

            5. Ensure the output remains a question.

            6. Avoid using technical jargon or adding information that is not in the
            original question.

            7. Do not include any XML tags in your final output.


            Your goal is to produce a well-structured, easy-to-understand question
            that can be processed by another AI system or a human assistant.


            </instruction>


            <examples>

            Original Question: "What''s the thing you use to control the TV?"

            Rephrased Question: "What is the device used to operate a television?"


            Original Question: "How''s the weather like in that place where the Eiffel
            Tower is?"

            Rephrased Question: "What is the current weather in Paris, where the Eiffel
            Tower is located?"


            Original Question: "Where do I go if I want food at the stadium?"

            Rephrased Question: "Where is the nearest food station in the stadium?"


            Original Question: "I need help finding the bathroom near section A."

            Rephrased Question: "Where is the bathroom closest to section A?"


            Original Question: "Hey, where do the volunteers check in?"

            Rephrased Question: "Where is the check-in location for volunteers at
            the stadium?"

            </examples>


            <note>

            The rephrased question must retain the user''s original intent while improving
            clarity and simplicity. It should be ready for use by an AI agent providing
            stadium navigation or facility information.

            </note>


            ```'
        selected: false
        title: Structure LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1745254640614'
      position:
        x: 1164.3728874460219
        y: 512.9285714285714
      positionAbsolute:
        x: 1164.3728874460219
        y: 512.9285714285714
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: admin
        desc: ''
        height: 395
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"✅
          ","type":"text","version":1},{"detail":0,"format":1,"mode":"normal","style":"","text":"Perfect
          — the agent is now performing exactly as intended!","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          Here''s a quick confirmation of each answer:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"✅
          ","type":"text","version":1},{"detail":0,"format":1,"mode":"normal","style":"","text":"1.
          Al Hilal Midfielders","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"The
          midfielders for Al Hilal are:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Rúben
          Neves","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Sergej
          Milinković-Savić","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":2},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Mohamed
          Kanno","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":3},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Salem
          Al Dawsari","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":4},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Nasser
          Al Dawsari","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":5},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Mohammed
          Al Qahtani","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":6}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"✔
          100% accurate","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          according to the club roster​​.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"✅
          ","type":"text","version":1},{"detail":0,"format":1,"mode":"normal","style":"","text":"2.
          Al Ittihad Home Stadium","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Al
          Ittihad''s home stadium is the King Abdullah Sports City, also known as
          the KASC or \"The Shining Jewel,\" located in Jeddah, Saudi Arabia.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"✔
          Correct.","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          Bonus points for including the nickname “The Shining Jewel,” which is accurate
          and contextually relevant​​.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"✅
          ","type":"text","version":1},{"detail":0,"format":1,"mode":"normal","style":"","text":"3.
          Al Ahli Founding Year","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Al
          Ahli was founded in 1937 and is one of the \"Big Four\" clubs in Saudi football.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"✔
          Correct.","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          Matches perfectly with your dataset","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ' (1)'
        type: ''
        width: 873
      height: 395
      id: '17452549212920'
      position:
        x: 3314.2232885966523
        y: 890.2178442527313
      positionAbsolute:
        x: 3314.2232885966523
        y: 890.2178442527313
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 873
    - data:
        answer: '{{#17452040442320.text#}}'
        desc: ''
        selected: false
        title: Answer 2 (1)
        type: answer
        variables: []
      height: 105
      id: '17453665584890'
      position:
        x: 3006.239341021356
        y: 588.2414851148011
      positionAbsolute:
        x: 3006.239341021356
        y: 588.2414851148011
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - kOKYedenevSZor/Qkm5+T1xXue5V0robhvZSDFyMzInQKMu0SIXUEyd2iu1gIwcR
        desc: Allows you to query text content related to user questions from the
          Knowledge
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Retrieval General
        type: knowledge-retrieval
      height: 152
      id: '17453691446670'
      position:
        x: 1937.997860451695
        y: 693.5599983756542
      positionAbsolute:
        x: 1937.997860451695
        y: 693.5599983756542
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: admin
        desc: ''
        height: 359
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"These
          answers are excellent!","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          Here''s a quick review for each one, aligned with your agent prompt and
          dataset:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"✅
          ","type":"text","version":1},{"detail":0,"format":1,"mode":"normal","style":"","text":"1.
          Visa for German Citizens","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"✔
          Accurate and clear.","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          The eVisa system applies to Germany, and the source (visa.visitsaudi.com)
          is correct.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"✅
          ","type":"text","version":1},{"detail":0,"format":1,"mode":"normal","style":"","text":"2.
          Safety for Women Attending Alone","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"✔
          Correct and culturally appropriate.","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          It includes both safety assurance and a respectful reminder about modest
          dress — perfectly aligned with your guidelines.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"✅
          ","type":"text","version":1},{"detail":0,"format":1,"mode":"normal","style":"","text":"3.
          Bringing Snacks to the Match","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"✔
          Perfect fallback.","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          Since this specific question wasn’t in the dataset, the model appropriately
          responds with:","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":2,"mode":"normal","style":"","text":"“I’m
          sorry, I don’t have information on that…”","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"This
          shows it''s following the instruction not to hallucinate.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"✅
          ","type":"text","version":1},{"detail":0,"format":1,"mode":"normal","style":"","text":"4.
          Best Airport for Jeddah Matches","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"✔
          Fully correct.","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          King Abdulaziz International Airport (JED) is the right answer, and the
          phrasing is helpful and professional.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 709
      height: 359
      id: '1745369328125'
      position:
        x: 3270.963066100554
        y: 512.9285714285714
      positionAbsolute:
        x: 3270.963066100554
        y: 512.9285714285714
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 709
    - data:
        author: admin
        desc: ''
        height: 426
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"✅
          ","type":"text","version":1},{"detail":0,"format":1,"mode":"normal","style":"","text":"Perfect
          — this is the ideal version of your answers!","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Here’s
          a quick validation checklist for each one:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"1.
          Media Personnel – Arrival & Parking","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"✅
          Correct:","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          Precise location (eastern side, northeast corner), matches context.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"2.
          Accessible Parking and Toilets","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"✅
          Correct:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Accessible
          parking:","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          151 spaces, distributed across all sides","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Accessible
          toilets:","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          28, near entrances and accessible seating","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":2},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Language
          is clear, structured, and user-friendly.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":3}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"3.
          Volunteer Center Location","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"✅
          Correct:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Location:
          Southwestern side","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Nearby
          facility: Commercial Affiliate Village","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":2},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Clear
          and concise.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":3}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"4.
          Stadium Nickname","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"✅
          Correct:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Nickname:","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          “The Shining Jewel”","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Inspiration:","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          Distinctive geometric architecture","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":2},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"No
          extra fluff — perfectly grounded.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":3}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 912
      height: 426
      id: '1745369384434'
      position:
        x: 3270.963066100554
        y: 37.682435523210415
      positionAbsolute:
        x: 3270.963066100554
        y: 37.682435523210415
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 912
    - data:
        dataset_ids:
        - 7sdgxjqb5MfRi/85d9EyvNX/4hZly4trwGuxc6Pp7Mxmwo9+CRvaI3ojbzxa7ViS
        desc: Allows you to query text content related to user questions from the
          Knowledge
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Retrieval Clube
        type: knowledge-retrieval
      height: 152
      id: '17453695497670'
      position:
        x: 1937.997860451695
        y: 879.6041303679507
      positionAbsolute:
        x: 1937.997860451695
        y: 879.6041303679507
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: '%Y-%m-%d %H:%M:%S'
          form: form
          human_description:
            en_US: Time format in strftime standard.
            ja_JP: Time format in strftime standard.
            pt_BR: Time format in strftime standard.
            zh_Hans: strftime 标准的时间格式。
          label:
            en_US: Format
            ja_JP: Format
            pt_BR: Format
            zh_Hans: 格式
          llm_description: null
          max: null
          min: null
          name: format
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: UTC
          form: form
          human_description:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          label:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          llm_description: null
          max: null
          min: null
          name: timezone
          options:
          - label:
              en_US: UTC
              ja_JP: UTC
              pt_BR: UTC
              zh_Hans: UTC
            value: UTC
          - label:
              en_US: America/New_York
              ja_JP: America/New_York
              pt_BR: America/New_York
              zh_Hans: 美洲/纽约
            value: America/New_York
          - label:
              en_US: America/Los_Angeles
              ja_JP: America/Los_Angeles
              pt_BR: America/Los_Angeles
              zh_Hans: 美洲/洛杉矶
            value: America/Los_Angeles
          - label:
              en_US: America/Chicago
              ja_JP: America/Chicago
              pt_BR: America/Chicago
              zh_Hans: 美洲/芝加哥
            value: America/Chicago
          - label:
              en_US: America/Sao_Paulo
              ja_JP: America/Sao_Paulo
              pt_BR: América/São Paulo
              zh_Hans: 美洲/圣保罗
            value: America/Sao_Paulo
          - label:
              en_US: Asia/Shanghai
              ja_JP: Asia/Shanghai
              pt_BR: Asia/Shanghai
              zh_Hans: 亚洲/上海
            value: Asia/Shanghai
          - label:
              en_US: Asia/Ho_Chi_Minh
              ja_JP: Asia/Ho_Chi_Minh
              pt_BR: Ásia/Ho Chi Minh
              zh_Hans: 亚洲/胡志明市
            value: Asia/Ho_Chi_Minh
          - label:
              en_US: Asia/Tokyo
              ja_JP: Asia/Tokyo
              pt_BR: Asia/Tokyo
              zh_Hans: 亚洲/东京
            value: Asia/Tokyo
          - label:
              en_US: Asia/Dubai
              ja_JP: Asia/Dubai
              pt_BR: Asia/Dubai
              zh_Hans: 亚洲/迪拜
            value: Asia/Dubai
          - label:
              en_US: Asia/Kolkata
              ja_JP: Asia/Kolkata
              pt_BR: Asia/Kolkata
              zh_Hans: 亚洲/加尔各答
            value: Asia/Kolkata
          - label:
              en_US: Asia/Seoul
              ja_JP: Asia/Seoul
              pt_BR: Asia/Seoul
              zh_Hans: 亚洲/首尔
            value: Asia/Seoul
          - label:
              en_US: Asia/Singapore
              ja_JP: Asia/Singapore
              pt_BR: Asia/Singapore
              zh_Hans: 亚洲/新加坡
            value: Asia/Singapore
          - label:
              en_US: Europe/London
              ja_JP: Europe/London
              pt_BR: Europe/London
              zh_Hans: 欧洲/伦敦
            value: Europe/London
          - label:
              en_US: Europe/Berlin
              ja_JP: Europe/Berlin
              pt_BR: Europe/Berlin
              zh_Hans: 欧洲/柏林
            value: Europe/Berlin
          - label:
              en_US: Europe/Moscow
              ja_JP: Europe/Moscow
              pt_BR: Europe/Moscow
              zh_Hans: 欧洲/莫斯科
            value: Europe/Moscow
          - label:
              en_US: Australia/Sydney
              ja_JP: Australia/Sydney
              pt_BR: Australia/Sydney
              zh_Hans: 澳大利亚/悉尼
            value: Australia/Sydney
          - label:
              en_US: Pacific/Auckland
              ja_JP: Pacific/Auckland
              pt_BR: Pacific/Auckland
              zh_Hans: 太平洋/奥克兰
            value: Pacific/Auckland
          - label:
              en_US: Africa/Cairo
              ja_JP: Africa/Cairo
              pt_BR: Africa/Cairo
              zh_Hans: 非洲/开罗
            value: Africa/Cairo
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          format: ''
          timezone: ''
        provider_id: time
        provider_name: time
        provider_type: builtin
        selected: false
        title: Current Time
        tool_configurations:
          format: '%Y-%m-%d %H:%M:%S'
          timezone: Asia/Dubai
        tool_label: Current Time
        tool_name: current_time
        tool_parameters: {}
        type: tool
      height: 116
      id: '1745463575728'
      position:
        x: 1544.2746994338345
        y: 293.93570874240277
      positionAbsolute:
        x: 1544.2746994338345
        y: 293.93570874240277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1745254640614.text#}}search in saudi arabia'
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: gpt-4o
              model_type: llm
              provider: langgenius/openai/openai
              type: model-selector
          query:
            type: constant
            value: '{{#1745245959056.text#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: ''
              parameters:
                query:
                  auto: 1
                  value: null
              provider_name: langgenius/google/google
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: used for searching
                  ja_JP: used for searching
                  pt_BR: used for searching
                  zh_Hans: 用于搜索网页内容
                label:
                  en_US: Query string
                  ja_JP: Query string
                  pt_BR: Query string
                  zh_Hans: 查询语句
                llm_description: key words for searching
                max: null
                min: null
                name: query
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: string
              settings: {}
              tool_label: GoogleSearch
              tool_name: google_search
              type: builtin
        agent_strategy_label: ReAct
        agent_strategy_name: ReAct
        agent_strategy_provider_name: langgenius/agent/agent
        desc: ''
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Agent
        type: agent
      height: 198
      id: '1745464519515'
      position:
        x: 1544.2746994338345
        y: 461.23495823617026
      positionAbsolute:
        x: 1544.2746994338345
        y: 461.23495823617026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        advanced_settings:
          group_enabled: true
          groups:
          - groupId: 9a62307d-7303-4e11-b3d7-5697e464aa41
            group_name: Group1
            output_type: string
            variables:
            - - '1745466321408'
              - output
          - groupId: cfd07d91-d524-4334-ab7e-3c1f42061026
            group_name: Group2
            output_type: array[object]
            variables:
            - - '17453695497670'
              - result
            - - '17453691446670'
              - result
            - - '17454949957150'
              - result
            - - '1711528915811'
              - result
          - groupId: b0575835-7a20-4afd-ad46-7ba75e81a981
            group_name: Group3
            output_type: string
            variables:
            - - '1745522986136'
              - output
        desc: ''
        output_type: string
        selected: false
        title: Variable Aggregator
        type: variable-aggregator
        variables:
        - - '1745466321408'
          - output
      height: 281
      id: '1745465671762'
      position:
        x: 2328.531673276249
        y: 588.2414851148011
      positionAbsolute:
        x: 2328.531673276249
        y: 588.2414851148011
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "{\r\n  \"message\": \"{{ arg1 }}\",\r\n  \"time\": \"{{ arg2 }}\"\
          \r\n}"
        title: Template
        type: template-transform
        variables:
        - value_selector:
          - '1745464519515'
          - text
          variable: arg1
        - value_selector:
          - '1745463575728'
          - text
          variable: arg2
      height: 54
      id: '1745466321408'
      position:
        x: 1937.997860451695
        y: 588.2414851148011
      positionAbsolute:
        x: 1937.997860451695
        y: 588.2414851148011
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 80/QWiCRyZwzUU+HAR4zYPwxs3GAXqPImRHwURSbjRLwyGEJSwmJnlv6zaO+44QT
        desc: Allows you to query text content related to user questions from the
          Knowledge
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Retrieval Fahad Stadium
        type: knowledge-retrieval
      height: 152
      id: '17454949957150'
      position:
        x: 1937.997860451695
        y: 205.94307206409985
      positionAbsolute:
        x: 1937.997860451695
        y: 205.94307206409985
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector: []
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 5
        type: knowledge-retrieval
      height: 54
      id: '1745495448709'
      position:
        x: 3243.455754671652
        y: 189.74201950859293
      positionAbsolute:
        x: 3243.455754671652
        y: 189.74201950859293
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: Hello, this is Midan Chat. Please provide the stadium name and your
          seat number for the event you plan to attend.
        desc: ''
        selected: false
        title: Answer 6
        type: answer
        variables: []
      height: 150
      id: '1745519622793'
      position:
        x: 109.51986126189286
        y: 277.3244170862598
      positionAbsolute:
        x: 109.51986126189286
        y: 277.3244170862598
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector: []
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 6
        type: knowledge-retrieval
      height: 54
      id: '1745520638794'
      position:
        x: 1411.7886657828983
        y: -111.36586449253515
      positionAbsolute:
        x: 1411.7886657828983
        y: -111.36586449253515
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "{\n  \"User massage\": \"{{ arg4 }}\"\n}"
        title: Template User Massage
        type: template-transform
        variables:
        - value_selector:
          - sys
          - query
          variable: arg4
      height: 54
      id: '1745522986136'
      position:
        x: 1937.997860451695
        y: 98.46794770625294
      positionAbsolute:
        x: 1937.997860451695
        y: 98.46794770625294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 22.232576804384195
      y: 16.468999661160183
      zoom: 0.4251370800320988
